extends ../templates/main

block content
    script(src='/javascripts/app.js')
    .app
        .app-top
            if (!app.icoRelease)
                a.app-top__ico-link.button.button-ellipse(href='/ico-add/build?idApp='+ app.idApp) Провести ICO
        .app-main
            //a#edit-btn(href="app/edit")
            .app-main__top
                .app-main__top-logo
                    img(src=server + '/data/' + app.hashTag + '/' + app.hash + '/'+ app.files.images.logo)
                .app-main__top-info
                    .app-main__top-info__name
                        h1= app.nameApp
                    .app-main__top-info__slogan= app.slogan
                    .app-main__top-info__shortdescr= app.shortDescr
            .app-main__middle
                .app-main__middle--left
                    .app-main__middle-type
                        .app-main__middle-type__title Тип:
                        .app-main__middle-type__name= category.name
                    .app-main__middle-category
                        .app-main__middle-category__title Категория:
                        .app-main__middle-category__name= subCategory.name
                    ul.app-main__middle-marks
                        if (app.forChildren)
                            li.app-main__middle-marks__item Для детей
                        if (app.advertising)
                            li.app-main__middle-marks__item Есть реклама
                    if (app.icoRelease)
                        .app-main__middle-ico
                            a.app-main__middle-ico__link.button.button-ellipse(href='/ico' + '/' + app.idApp) ICO
                .app-main__middle--right
                    input(id='longdescr' type='hidden' value=app.longDescr)
                    .md-render#app__description-area
            .app-main__bottom
                .app-main__bottom-warning
                .app-main__bottom-links
        .app-gallery
            .gallery-slider.owl-carousel
                include ../components/gallery
                +data(server + '/data/' + app.hashTag + '/' + app.hash + '/', app.files.images.gallery)
        .app-info
            .app-info__box
                .app-info__title Контактная информация
                ul.app-info__contacts-list
                    if (app.email)
                      li.app-info__contacts-list__item
                        .app-info__contacts-list__item--icon(data-contact='email' title='E-MAIL')
                        .app-info__contacts-list__item--value
                          a(href=href='mailto:' + app.email)= app.email
                    if (app.urlApp)
                      li.app-info__contacts-list__item
                        .app-info__contacts-list__item--icon(data-contact='site' title='Сайт')
                        .app-info__contacts-list__item--value
                          a(href=app.urlApp)= app.urlApp
                if (app.privacyPolicy)
                    .app-info__privacy
                        a.app-info__privacy--link(href=app.privacyPolicy) Политика конфиденциальности











