extends ../templates/main

block content
    script(src='/javascripts/ico.js')
    .ico
        h1.ico__title ICO&nbsp;
            span= app.nameApp
        .ico__main
            .ico__main-item
                .ico__avatar
                    img(src=server + '/data/' + app.hashTagICO + '/' + app.hashICO + '/'+ app.infoICO.files.images.logo)
                .ico__video
                    if (app.infoICO.youtubeID)
                        a.button.button-ellipse.video-popup(href="https://www.youtube.com/watch?v=QYjyfCt6gWc") Смотреть видео
            .ico__main-item
                .ico__token
                    //.ico__token-group
                    //    .ico__token-group__title Название токена:
                    //    .ico__token-group__value PlayMarket Token
                    .ico__token-group
                        .ico__token-group__title Символ токена:
                        .ico__token-group__value= app.icoSymbol
                    .ico__token-group
                        .ico__token-group__title Общее количество токенов:
                        .ico__token-group__value= app.icoTotalSupply + ' '
                            span= app.icoSymbol
                    .ico__token-group
                        .ico__token-group__title SOFTCUP:
                        .ico__token-group__value= app.icoTotalSupply / 100 + ' '
                            span= app.icoSymbol
                    .ico__token-group
                        .ico__token-group__title HARDCUP:
                        .ico__token-group__value= app.icoHardCapUsd / 1000000 + ' '
                            span $
                .ico__date
                    .ico__date-group
                        .ico__date-group__title Дата начала ICO:
                        .ico__date-group__value= app.icoStages[0].startDate
                    .ico__date-group
                        .ico__date-group__title Дата окончания ICO:
                        .ico__date-group__value= app.icoStages[2].endDate
                .ico__steps
                    .ico__steps-group
                        .ico__steps-group__title Текущий этап:
                        .ico__steps-group__value 1
                            span /3
                .ico__developer
                    .ico__developer-group
                        .ico__developer-group__title Разработчик:
                        .ico__developer-group__value Crypton.Studio
                .ico__address
                    .ico__address-group
                        .ico__address-group__title Адрес для сбора средств:
                        .ico__address-group__value 0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8
        .ico__cup
            .ico__cup-top
                .ico__cup-top__step Этап #1
                    span /3
                .ico__cup-top__time 10:00:00
            .ico__cup-middle
                .ico__cup-middle__progress
                    .ico__cup-middle__progress--fill(style="width: 25%;")
            .ico__cup-bottom
                .ico__cup-bottom__sold 25 000 000
                    span Продано, PMT
                .ico__cup-bottom__all 100 000 000
                    span Всего, PMT
        .ico__gallery
            .ico__block-title Фотогалерея
            include ../components/gallery
            +data(server + '/data/' + app.hashTagICO + '/' + app.hashICO + '/', app.infoICO.files.images.gallery)
        .ico__description
            .ico__block-title Описание
            input#ico__description__input(type="hidden" value=app.infoICO.description)
            .md-render#ico__description-area
        .ico__team
            .ico__block-title Команда
            include ../components/members
            +data(server + '/data/' + app.hashTagICO + '/' + app.hashICO + '/', app.infoICO.team)
        .ico__advisors
            .ico__block-title Адвизоры
            include ../components/members
            +data(server + '/data/' + app.hashTagICO + '/' + app.hashICO + '/', app.infoICO.advisors)
        .ico__contacts
            .ico__block-title Контакты
            ul.ico__contacts-list
                each item, key in app.infoICO.social
                    if (item)
                        li.ico__contacts-list__item
                            a.ico__contacts-list__item-link.data-icon(data-social=key href=item)









